apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
spec:
  project: default
  source:
    path: .
    repoURL: oci://registry-1.docker.io/envoyproxy/gateway-helm
    targetRevision: 1.6.3
    helm:
      releaseName: envoy-gateway
      valuesObject:
        # keep defaults for MVP; adjust replicas/resources when you move beyond MVP
        config:
          envoyGateway:
            logging:
              level: info
  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
