apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: feast-feature-repos
  namespace: argocd
spec:
  project: default
  source:
    repoURL: <REPO_URL>
    targetRevision: <REVISION>
    path: deploy/k8s/feast
  destination:
    server: https://kubernetes.default.svc
    namespace: feast
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
