apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
networking:
  # Disable kind's default CNI so we can install Cilium.
  # This makes NetworkPolicy enforcement in KIND closer to production.
  disableDefaultCNI: true
nodes:
  - role: control-plane
    image: kindest/node:v1.27.3
    extraPortMappings:
      - containerPort: 30080
        hostPort: 30080
        protocol: TCP
      - containerPort: 30443
        hostPort: 30443
        protocol: TCP
    # GPU workaround (see deploy/kind/README.md)
    extraMounts:
      - hostPath: /dev/null
        containerPath: /var/run/nvidia-container-devices/all
