apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deploy-worker
  template:
    metadata:
      labels:
        app: deploy-worker
    spec:
      containers:
      - name: worker
        image: mlops/deploy-worker:dev
        imagePullPolicy: IfNotPresent
        envFrom:
          - configMapRef:
              name: mlops-env
          - secretRef:
              name: mlops-secrets


        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 1Gi
