apiVersion: apps/v1
kind: Deployment
metadata:
  name: training-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: training-worker
  template:
    metadata:
      labels:
        app: training-worker
    spec:
      containers:
      - name: worker
        image: mlops/training-worker:dev
        imagePullPolicy: IfNotPresent
        envFrom:
          - configMapRef:
              name: mlops-env
          - secretRef:
              name: mlops-secrets

        env:
          - name: MLFLOW_TRACKING_URI
            value: "http://mlflow:5000"
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 1Gi
