apiVersion: v1
kind: ConfigMap
metadata:
  name: mlops-compute-profiles
  namespace: mlops-system
data:
  profiles.yaml: |
    profiles:
      - name: t4-1x
        kind: full-gpu
        description: "T4 full GPU"
        podSpecPatch:
          nodeSelector:
            nvidia.com/gpu.product: "TESLA-T4"
          tolerations:
            - key: "nvidia.com/gpu"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
          containers:
            - name: main
              resources:
                limits:
                  nvidia.com/gpu: "1"

      - name: a100-mig-1g5gb
        kind: mig
        description: "A100 MIG 1g.5gb"
        podSpecPatch:
          nodeSelector:
            nvidia.com/mig.capable: "true"
          tolerations:
            - key: "nvidia.com/gpu"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
          containers:
            - name: main
              resources:
                limits:
                  nvidia.com/mig-1g.5gb: "1"
