apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: modelops-controller-cpu
spec:
  scaleTargetRef:
    name: modelops-controller
  minReplicaCount: 1
  maxReplicaCount: 3
  triggers:
    - type: cpu
      metricType: Utilization
      metadata:
        value: "70"
