apiVersion: apps/v1
kind: Deployment
metadata:
  name: metering-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metering-service
  template:
    metadata:
      labels:
        app: metering-service
    spec:
      containers:
      - name: main
        image: mlops/metering-service:dev
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8000
        envFrom:
          - configMapRef:
              name: mlops-env
          - secretRef:
              name: mlops-secrets

        readinessProbe:
          httpGet:
            path: /api/v1/healthz
            port: 8000
          initialDelaySeconds: 3
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /api/v1/healthz
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 20

        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
