apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-pipeline
  namespace: kubeflow
spec:
  template:
    spec:
      containers:
        - name: ml-pipeline-api-server
          env:
            # Patch based on: https://www.kubeflow.org/docs/components/pipelines/operator-guides/configure-object-store/
            # Replace values + create the referenced secret in the kubeflow namespace.
            - name: OBJECTSTORECONFIG_HOST
              value: "s3.amazonaws.com" # e.g. your S3 endpoint host
            - name: OBJECTSTORECONFIG_PORT
              value: "443"
            - name: OBJECTSTORECONFIG_REGION
              value: "us-east-1"
            - name: OBJECTSTORECONFIG_SECURE
              value: "true"
            - name: OBJECTSTORECONFIG_ACCESSKEY
              valueFrom:
                secretKeyRef:
                  name: kfp-s3-creds
                  key: accessKey
            - name: OBJECTSTORECONFIG_SECRETACCESSKEY
              valueFrom:
                secretKeyRef:
                  name: kfp-s3-creds
                  key: secretKey
